<p>blog works!</p>

<div class="pagg">
  <table>
     <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
       <td>{{item.id}}</td>
       <td>{{item.fname}}</td>
       <td>{{item.phn}}</td>
     </tr>
  </table>
  <div class="page-nav" id="page_nav">
       <ngb-pagination   [(page)]="page" [pageSize]="pageSize" [collectionSize]="items.length" ></ngb-pagination>
  </div>
  
  <!-- <ngb-pagination [collectionSize]="items.length" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination> -->

</div>


