/* You can add global styles to this file, and also import other style files */
/*@import"~bootstrap/dist/css/bootstrap.css"*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ab1abf;
    border-color: #007bff;
}